<div fxLayout="row">
    <div fxFlex="60">
    	<div style="position: relative;">
        <div>
            <img src="{{data.photos[imageIndex].url}}" height="100%" width="100%"/>
		</div>
        <div align="center" class="space-top-med arrow-box">
            <span (click)="prevImage()" matTooltip="Previous">
				<i class="cursor font-size white-text material-icons">arrow_back_ios</i>
			</span>
            <span  (click)="nextImage()" matTooltip="Next">
				<i class="cursor font-size white-text material-icons">arrow_forward_ios</i>
			</span>
			<span matTooltip="Compare the Photos with Satellite Imagery">
				<a href="https://www.google.com/maps/@{{data.location.lat}},{{data.location.lon}},609a,35y,39.19t/data=!3m1!1e3" target="_blank">
				<i class="material-icons cursor font-size white-text">map</i></a>
			</span>
			<div class="white-text space-left-med" align="left">
				{{imageIndex+1}} of {{images.length}}
			</div>
        </div>
    	</div>
    </div>
        <div fxFlex="40" fxLayout="column">
            <div fxFlex align="center" class="space-top-lg">
                <mat-form-field class="width-80">
                    <textarea matInput [(ngModel)]="feedback.comment" rows="7" cols="70" placeholder="Write comment here"></textarea>
                </mat-form-field>
            </div>
            <div fxFlex align="center">
                <mat-form-field class="width-80">
                    <mat-select [(ngModel)]="feedback.evaluation"placeholder="Evaluation">
                        <mat-option *ngFor="let item of action_items" value="{{item.id}}">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex align="center">
                <button class="cust-button" [disabled]="!feedback.evaluation || !feedback.comment" (click)="submitFeedback()" > Submit</button>
            </div>
        </div>
    </div>