.width-80{
	width: 80%;
}

.font-size{
	font-size: 2.5em;
}

i{
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
}

.arrow-box{
	position: absolute;
	bottom:5%;
	left:40%;
}

.green-border{
	border:1px solid mediumseagreen;
	background-color: mediumseagreen;
	color:#fff !important;
}

.green-border:focus{
	color:mediumseagreen !important;
}

.red-border{
	border:1px solid tomato;
	background-color: tomato;
	color:#fff !important;
}

.red-border:focus{
	color:tomato !important;
}