<div class="container">
	<div fxLayout="row" class="space-top-lg">
		 <div fxFlex></div>
		 <div fxFlex="50" align="center">
                <h1 class="gray font-weight-200">
	            	IIASA
	        	</h1>
            </div>
         <div fxFlex></div>
	</div>
    <div fxLayout="row" class="space-top-super">
        <div fxFlex="50" fxLayout="column" align="center">
            <div fxFlex="50">
                <h3 class="gray font-weight-200">
	            	EOCS
	        	</h3>
            </div>
            <div fxFlex="50">
                <h5 class="blue-text font-weight-100 space-top-lg">
           			 FotoQuest Go
        		</h5>
            </div>
        </div>
        <div fxFlex="50" fxLayout="column" class="centered border-left">
        	<div fxFlex></div>
            <div fxFlex="20">
                <button (click)="routeToAudi()" class="space-top-lg" style="background-color: #fff;color:#2996f3;border:1px solid #2996f3;">
                    Login
                </button>
            </div>
            <div fxFlex></div>
        </div>
    </div>
</div>