<div class="container">
	<div fxLayout="row">
		 <div fxFlex></div>
		 <div fxFlex="50" align="center">
                <h1 class="gray font-weight-200">
	            	IIASA
	        	</h1>
            </div>
         <div fxFlex></div>
	</div>
    <div fxLayout="row" class="space-top-super">
        <div fxFlex="50" fxLayout="column" align="center">
            <div fxFlex="50">
                <h3 class="gray font-weight-200">
	            	EOCS
	        	</h3>
            </div>
            <div fxFlex="50">
                <h5 class="blue-text font-weight-100 space-top-lg">
           			 FotoQuest Go Admin
        		</h5>
            </div>
        </div>
        <div fxFlex="50" fxLayout="column" class="centered border-left">
        	<div fxFlex></div>
            <div fxFlex="20">
                <button (click)="routeToAudi()" class="space-top-lg cursor cust-button" style="width:100%;font-size: 1.2em;">
                    One Click Login
                </button>
            </div>
            <div fxFlex></div>
        </div>
    </div>
    <div fxLayout="row" class="space-top-super">
        <div fxFlex align="centered" class="space-top-super">
            <p class="gray centered" >
            FotoQuest Go is a project developed by the International Institute for Applied Systems Analysis (IIASA) based in Laxenburg, Austria. It is supported by the ERC funded CrowdLand project (GA No. 617754) and is part of the Geo-Wiki ( www.geo-wiki.org) platform. (C) 2018 IIASA.
        </p>
        </div>
    </div>
</div>