body {
    margin: 0px;
    font-family: 'Open Sans'
}

html,
body {
    height: 100%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Layout */

.space-top-super {
    margin-top: 10%;
}

.space-top-lg {
    margin-top: 20px;
}

.space-top-med {
    margin-top: 10px;
}

.space-top-sm {
    margin-top: 5px;
}

.space-left-med{
	margin-left: 12px;
}

.no-margin {
    margin: 0px;
}

/* Font Weights */

.font-weight-100 {
    font-weight: 100;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-600 {
    font-weight: 600;
}

/* Custom Tooltip style */

.mat-tooltip {
    font-size: 1.02em !important;
    padding: 5px;
    cursor: pointer;
}

/* Button */

.cust-button{
	background-color: #fff;
	color:#2996f3;
	border:1px solid #2996f3;
	width:60%;
}

.cursor{
	cursor: pointer;
}

.mat-dialog-container{
	padding-right: 10px !important;
	padding-left: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

#toast-container {
  top: auto !important;
  left: auto !important;
  bottom: 20% !important;
  right: 0% !important;  
}

/* Colors */
.navy {
    color: #001F3F;
}

.blue {
    color: #0074D9;
}

.aqua {
    color: #7FDBFF;
}

.teal {
    color: #39CCCC;
}

.olive {
    color: #3D9970;
}

.green {
    color: #2ECC40;
}

.lime {
    color: #01FF70;
}

.yellow {
    color: #FFDC00;
}

.orange {
    color: #FF851B;
}

.red {
    color: #FF4136;
}

.fuchsia {
    color: #F012BE;
}

.purple {
    color: #B10DC9;
}

.maroon {
    color: #85144B;
}

.white {
    color: #FFFFFF;
}

.silver {
    color: #DDDDDD;
}

.gray {
    color: #AAAAAA;
}

.black {
    color: #111111;
}
